<div class="main-content font-size-13" ng-controller="userListCtrl">
    <div class="tab__box">
        <div class="tab__items">
            <a ng-click="changeMenu('user-add')" class="tab__item is-active" href="#">ایجاد کاربر جدید+</a>
            <a class="tab__item is-active" href="#" ng-click="downloadExcelUserList()">دانلود لیست اکسل کاربران فعال</a>
            <a title="راهنمای جستجو و فیلترینگ" href="#" ng-click="showInfoTextForSearch()" class="tab__item is-active">راهنمای
                جستجو و اعمال فیلتر</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Search by Username -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        جستجوی کاربر
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input ng-model="username" type="text" class="form-control-sm"
                                       placeholder="بر اساس نام کاربری" ng-disabled="getSearch.length > 0">
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button ng-hide="getSearch.length > 0" ng-click="searchByUsername()" class="btn btn-primary" ng-disabled="!username">جستجو</button>
                                <button ng-click="reloadListAfterSearch()" class="btn btn-outline-warning" ng-show="getSearch.length > 0">بازگردانی لیست</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Filter by all columns -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        فیلتر بر اساس ستون ها
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input ng-model="usernameFilter" type="text" class="form-control-sm"
                                       placeholder="بر اساس نام کاربری" ng-disabled="getFilters.length > 0">
                                <input ng-model="firstname" type="text" class="form-control-sm mt-2"
                                       placeholder="بر اساس نام" ng-disabled="getFilters.length > 0">
                                <input ng-model="lastname" type="text" class="form-control-sm mt-2"
                                       placeholder="بر اساس نام خانوادگی" ng-disabled="getFilters.length > 0">
                                <input ng-model="nationalCode" type="text" class="form-control-sm mt-2"
                                       placeholder="بر اساس کد ملی" ng-disabled="getFilters.length > 0">
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <button ng-hide="getFilters.length > 0" ng-click="filterByColumns()" class="btn btn-primary" ng-disabled="!usernameFilter && !firstname && !lastname && !nationalCode">اعمال فیلتر</button>
                                <button ng-click="reloadListAfterFilter()" class="btn btn-outline-warning" ng-show="getFilters.length > 0">بازگردانی لیست</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


    <!-- List of users after search -->
    <div class="table__box" ng-if="getSearch.length > 0 ">
        <table class="table">
            <thead role="rowgroup">
            تعداد نتایج یافت شده پس از جستجو: {{totalCount}}
            <tr role="row" class="title-row">
                <th>ردیف</th>
                <th>شناسه</th>
                <th>نام و نام خانوادگی</th>
                <th>نام کاربری</th>
                <th>کدملی</th>
                <th>وضعیت</th>
                <th>حذف/ویرایش</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" ng-repeat="data in getSearch">
                <td><a href="">{{$index + 1}}</a></td>
                <td><a href="">{{data.id}}</a></td>
                <td><a href="">{{data.fullName}}</a></td>
                <td><a href="">{{data.username}}</a></td>
                <td>{{data.nationalCode}}</td>
                <td>
                    <i class="item-confirm mlg-15" ng-show="data.enable"></i>
                    <i class="item-reject mlg-15" ng-show="!data.enable"></i>
                </td>
                <td>
                    <a ng-hide="userInfo.id == data.id" ng-click="deleteItem(data.id)" href="#"
                       class="item-delete mlg-15" title="حذف"></a>
                    <!--<a href="" class="item-confirm mlg-15" title="تایید"></a>
                    <a href="" class="item-reject mlg-15" title="رد"></a>
                    <a href="edit-user.html" target="_blank" class="item-eye mlg-15" title="مشاهده"></a>-->
                    <a ng-click="editItem(data.id)" href="#" class="item-edit " title="ویرایش"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!-- pageination for after search   -->
    <div class="pagination" ng-if="getSearch.length > 0">
        <ul class="pagination">
            <li class="page-item" ng-class="{disabled: searchQuery.searchPageNumber == 0}">
                <a class="page-link" href="#"
                   ng-click="searchQuery.searchPageNumber = searchQuery.searchPageNumber - 1; searchByUsername();"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">صفحه {{searchQuery.searchPageNumber + 1}} از {{pageCount}}</span>
            </li>
            <li class="page-item" ng-class="{disabled: searchQuery.searchPageNumber >= pageCount - 1}">
                <a class="page-link" href="#"
                   ng-click="searchQuery.searchPageNumber = searchQuery.searchPageNumber + 1; searchByUsername();"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>


    <!--*****************************************************************************************************************-->

    <!-- List of users after filters -->
    <div class="table__box" ng-if="getFilters.length > 0 && getSearch.length == 0">
        <table class="table">
            <thead role="rowgroup">
            تعداد نتایج یافت شده پس از اعمال فیلتر: {{totalCount}}
            <tr role="row" class="title-row">
                <th>ردیف</th>
                <th>شناسه</th>
                <th>نام و نام خانوادگی</th>
                <th>نام کاربری</th>
                <th>کدملی</th>
                <th>وضعیت</th>
                <th>حذف/ویرایش</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" ng-repeat="data in getFilters">
                <td><a href="">{{$index + 1}}</a></td>
                <td><a href="">{{data.id}}</a></td>
                <td><a href="">{{data.fullName}}</a></td>
                <td><a href="">{{data.username}}</a></td>
                <td>{{data.nationalCode}}</td>
                <td>
                    <i class="item-confirm mlg-15" ng-show="data.enable"></i>
                    <i class="item-reject mlg-15" ng-show="!data.enable"></i>
                </td>
                <td>
                    <a ng-hide="userInfo.id == data.id" ng-click="deleteItem(data.id)" href="#"
                       class="item-delete mlg-15" title="حذف"></a>
                    <!--<a href="" class="item-confirm mlg-15" title="تایید"></a>
                    <a href="" class="item-reject mlg-15" title="رد"></a>
                    <a href="edit-user.html" target="_blank" class="item-eye mlg-15" title="مشاهده"></a>-->
                    <a ng-click="editItem(data.id)" href="#" class="item-edit " title="ویرایش"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!-- pageination for after filters   -->
    <div class="pagination" ng-if="getFilters.length > 0 && getSearch.length == 0 ">
        <ul class="pagination">
            <li class="page-item" ng-class="{disabled: filter.filterPageNumber == 0}">
                <a class="page-link" href="#"
                   ng-click="filter.filterPageNumber = filter.filterPageNumber - 1; filterByColumns();"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">صفحه {{filter.filterPageNumber + 1}} از {{pageCount}}</span>
            </li>
            <li class="page-item" ng-class="{disabled: filter.filterPageNumber >= pageCount - 1}">
                <a class="page-link" href="#"
                   ng-click="filter.filterPageNumber = filter.filterPageNumber + 1; filterByColumns();"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <!--****************************************************************************************************************-->

    <!--  list users  -->
    <div class="table__box" ng-if="dataList.length > 0 && getSearch.length == 0 && getFilters.length == 0 ">
        <table class="table">
            <thead role="rowgroup">
            تعداد لیست کاربران: {{totalCount}}
            <tr role="row" class="title-row">
                <th>ردیف</th>
                <th>شناسه</th>
                <th>نام و نام خانوادگی</th>
                <th>نام کاربری</th>
                <th>کدملی</th>
                <th>وضعیت</th>
                <th>حذف/ویرایش</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" ng-repeat="data in dataList">
                <td><a href="">{{$index + 1}}</a></td>
                <td><a href="">{{data.id}}</a></td>
                <td><a href="">{{data.fullName}}</a></td>
                <td><a href="">{{data.username}}</a></td>
                <td>{{data.nationalCode}}</td>
                <td>
                    <i class="item-confirm mlg-15" ng-show="data.enable"></i>
                    <i class="item-reject mlg-15" ng-show="!data.enable"></i>
                </td>
                <td>
                    <a ng-hide="userInfo.id == data.id" ng-click="deleteItem(data.id)" href="#"
                       class="item-delete mlg-15" title="حذف"></a>
                    <!--<a href="" class="item-confirm mlg-15" title="تایید"></a>
                    <a href="" class="item-reject mlg-15" title="رد"></a>
                    <a href="edit-user.html" target="_blank" class="item-eye mlg-15" title="مشاهده"></a>-->
                    <a ng-click="editItem(data.id)" href="#" class="item-edit " title="ویرایش"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!--  pagination for all list -->
    <div class="pagination" ng-if="dataList.length > 0 && getSearch.length == 0 && getFilters.length == 0">
        <ul class="pagination">
            <li class="page-item" ng-class="{disabled: query.pageNumber == 0}">
                <a class="page-link" href="#" ng-click="query.pageNumber = query.pageNumber - 1; getDataList();"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">صفحه {{query.pageNumber + 1}} از {{pageCount}}</span>
            </li>
            <li class="page-item" ng-class="{disabled: query.pageNumber >= pageCount - 1}">
                <a class="page-link" href="#" ng-click="query.pageNumber = query.pageNumber + 1; getDataList();"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

</div>

