<div class="main-content font-size-13" ng-controller="userListCtrl">
    <div class="tab__box">
        <div class="tab__items">
            <a ng-click="changeMenu('user-add')" class="tab__item is-active" href="#">ایجاد کاربر جدید</a>
            <a class="tab__item is-active" href="#" ng-click="downloadExcel()">دانلود لیست کاربران</a>
        </div>
    </div>
    <div class="t-header-search">
        <form ng-submit="search()">
            <div class="t-header-searchbox font-size-13">
                <div type="text" class="text search-input__box ">جستجو</div>
                <div class="t-header-search-content " style="display: block;">
                    <input type="text" class="text" ng-model="usernameLike" placeholder="جستجو براساس نام کاربری">
                    <button class="btn btn-brand" type="submit">جستجو</button>
                </div>
            </div>
        </form>
    </div>

    <div ng-if="users" class="table__box">
        <table class="table">
            <thead role="rowgroup">
            <tr role="row" class="title-row">
                <th>شناسه</th>
                <th>نام و نام خانوادگی</th>
                <th>نام کاربری</th>
                <th>کدملی</th>
                <th>وضعیت </th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" ng-repeat="data in dataList">
                <td><a href="">{{$index+1}}</a></td>
                <td><a href="">{{data.fullName}}</a></td>
                <td><a href="">{{data.username}}</a></td>
                <td>{{data.nationalCode}}</td>
                <td>
                    <i class="item-confirm mlg-15"  ng-show="data.enable"></i>
                    <i class="item-reject mlg-15"   ng-show="!data.enable"></i>
                </td>
                <td>
                    <a ng-hide="userInfo.id == data.id" ng-click="deleteItem(data.id)" href="#" class="item-delete mlg-15" title="حذف"></a>
                    <!--<a href="" class="item-confirm mlg-15" title="تایید"></a>
                    <a href="" class="item-reject mlg-15" title="رد"></a>
                    <a href="edit-user.html" target="_blank" class="item-eye mlg-15" title="مشاهده"></a>-->
                    <a ng-click="editItem(data.id)" href="#" class="item-edit " title="ویرایش"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="table__box">
        <table class="table">
            <thead role="rowgroup">
            <tr role="row" class="title-row">
                <th>شناسه</th>
                <th>نام و نام خانوادگی</th>
                <th>نام کاربری</th>
                <th>کدملی</th>
                <th>وضعیت </th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row" ng-repeat="data in dataList">
                <td><a href="">{{$index+1}}</a></td>
                <td><a href="">{{data.fullName}}</a></td>
                <td><a href="">{{data.username}}</a></td>
                <td>{{data.nationalCode}}</td>
                <td>
                    <i class="item-confirm mlg-15"  ng-show="data.enable"></i>
                    <i class="item-reject mlg-15"   ng-show="!data.enable"></i>
                </td>
                <td>
                    <a ng-hide="userInfo.id == data.id" ng-click="deleteItem(data.id)" href="#" class="item-delete mlg-15" title="حذف"></a>
                    <!--<a href="" class="item-confirm mlg-15" title="تایید"></a>
                    <a href="" class="item-reject mlg-15" title="رد"></a>
                    <a href="edit-user.html" target="_blank" class="item-eye mlg-15" title="مشاهده"></a>-->
                    <a ng-click="editItem(data.id)" href="#" class="item-edit " title="ویرایش"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div><br>
    <nav>
        <ul class="pagination pagination-sm">
            <li ng-repeat="i in range(pageCount) track by $index" class="page-item">
                <span style="cursor: pointer" class="page-link" ng-click="changePage($index)">
                    {{($index + 1)}}
                </span>
            </li>
        </ul>
    </nav>
</div>
